@using Assignment_Asp.NET1.Models.Identity;
@model UserAccount



        <h3 class="h3-style">Namn:</h3>
        <div class="profile-style">@Model.FirstName @Model.LastName</div>
        <h3 class="h3-style">Mail:</h3>
        <div class="profile-style">@Model.Email</div>



















<!--<div class="profile-style">@Model.FirstName @Model.LastName</div>
<div>@Model.Email</div>-->


